
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* html{
    scroll-behavior: smooth;
} */


/* -------------------Home----------------------------- */
#home{
    width: 100%;
    height: 100vh;
    background-image: url(../images/portifo_mukama.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

.container-overlay{
    font-family: 'Inknut Antiqua', serif;
    padding:20px 5%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color:white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav h1{
width: fit-content;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin:10px 20px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    position: relative;
    font-size: 18px;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background-color:#DB0C0C;
    position: absolute;
    left:0;
    bottom:0;
    transition: 0.6s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav h2 span{
    color:#DB0C0C;
}

.signIn-link,.more-on-me-link,.hire-me-btn,.more-skills-link,.see-more-portifo{
    color: white;
    background: #DB0C0C;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 30px;
    border:none;
    transition: transform 0.6s;
}
.signIn-link a,.more-on-me-link a,.hire-me-btn a,.more-skills-link a,.see-more-portifo a{
    color:#fff;
    font-family: 'Inknut Antiqua', serif;
    text-decoration: none;
    transition: color 0.2s;
    display: block;
  
}

.signIn-link:hover,.more-on-me-link:hover,.hire-me-btn:hover,.more-skills-link:hover,.see-more-portifo:hover{
    background: #fff;
    transform: scale(1.07);
}

.signIn-link a:hover,.more-on-me-link a:hover,.hire-me-btn a:hover,.more-skills-link a:hover,.see-more-portifo a:hover{
    color:#DB0C0C;
}

.container-overlay .home-details{
   margin-top:150px;
}

.home-details .my-name{
    margin:50px auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.my-name span{
    font-size: 32px;
    font-weight: 700;
}
.home-details{
    font-size: 24px;
}

.home-details .intro-career{
    width: 90%;
    margin-bottom: 80px;
    font-family: 'Roboto', sans-serif;
}

.intro-career span{
    color:#DB0C0C;
    font-size: 36px;
    font-weight: 700;
}


/* ------------------------------About me-------------------- */


#about-me{
    background-color: #C4BCB9;
    padding:50px 5%;
}

.container-about-me .row{
    display: flex;
    justify-content: space-between;
   
}

.container-about-me h1, .container-my-skills h1,.container-portifo h1, .blogs-container h1,.contact-container h1{
    font-size: 28px;
    font-family: 'Roboto', serif;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
}

.container-about-me h1 hr, .container-my-skills h1 hr,.container-portifo h1 hr, .blogs-container h1 hr,.contact-container h1 hr{
    width: 40px;
    background-color:#DB0C0C;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.container-about-me h1 span,.container-my-skills h1 span,.container-portifo h1 span, .blogs-container h1 span,.contact-container h1 span{    
    color: #DB0C0C;
    font-size: 38px;
    font-weight: bolder;
}
.row .col-left{
    flex-basis: 35%;
}

.row .col-left img{
    width: 100%;
    height: auto;
}
.row .col-right{
    flex-basis: 60%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hire-getCV{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

.get-cv-btn{
    background-color: #fff;
    color: #DB0C0C;
    padding: 3px 20px;
    border-radius: 30px;
    border:none;
    transition: transform 0.6s;
   
}

.get-cv-btn a{
    color: #DB0C0C;
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    display: block;
}



.get-cv-btn:hover{
    background: #DB0C0C;
    transform: scale(1.03);

}

.get-cv-btn a:hover{
    color:#fff;
}


/* ----------------------------Skills--------------------- */
.container-my-skills{
    width:80%;
}
#my-skills{
    padding:50px 5%;
    background-color: #C4BCB9;
}

.progress-bar{
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 20px;
    border:2px solid #000;
    position: relative;
}

.progress-bar .progress{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background-color: #DB0C0C;
    border-radius: 30px;
}

.progress span{
    color:white;
    font-size:14px;
    position: absolute;
    right: 10px;

}

.single-skill p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left:20px;
}

.more-skills-link{
    margin-top: 30px;
    text-align: center;
}


/* --------------------Portifolio-------------- */



#my-portifolio{
    padding:50px 5%;
    background-color: #C4BCB9;
}

.grommet-icons--link-next {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-width='2' d='M2 12h20m-9-9l9 9l-9 9'/%3E%3C/svg%3E");
  }

  .material-symbols--share {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M18 22q-1.25 0-2.125-.875T15 19q0-.175.025-.363t.075-.337l-7.05-4.1q-.425.375-.95.588T6 15q-1.25 0-2.125-.875T3 12q0-1.25.875-2.125T6 9q.575 0 1.1.213t.95.587l7.05-4.1q-.05-.15-.075-.337T15 5q0-1.25.875-2.125T18 2q1.25 0 2.125.875T21 5q0 1.25-.875 2.125T18 8q-.575 0-1.1-.212t-.95-.588L8.9 11.3q.05.15.075.338T9 12q0 .175-.025.363T8.9 12.7l7.05 4.1q.425-.375.95-.587T18 16q1.25 0 2.125.875T21 19q0 1.25-.875 2.125T18 22'/%3E%3C/svg%3E");
  }

.portifo-list{
   display: grid;
   grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
   /* grid-template-columns: 1fr 1fr; */
   gap:30px;
}
.portifo-list .single-portifo{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: transform 0.6s;

}

.single-portifo:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.single-portifo img{
    width: 100%;
    height: 400px;
    position: relative;
}

.portifo-links ul{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.portifo-links ul li a{
    color:#000;
    font-weight: bold;
}
.single-portifo .layer{
    position: absolute;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 20px;
    border-radius: 10px;
    bottom: 0;
    left:0;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#DB0C0C);
    /* background: #DB0C0C; */
    transition: height 0.9s ease-in-out;
}

.layer .share-next{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.layer h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-top:20px;
    font-family: 'Roboto', sans-serif;

}

.layer p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;

}

.share-next button{
    margin: 80px 160px;
    padding:4px 20px;
    background-color: #DB0C0C;
    border:#fff solid 1px;
    border-radius: 10px;
    transition:transform 0.4s;
}
.share-next button:hover{
    transform:translateY(-2px);
    transform: scale(1.03);
}

.single-portifo:hover .layer{
    height: 100%;
}


.see-more-portifo{
    margin-top: 30px;
    text-align: center;
}

/* =====================Blogs==================== */

#my-blogs{
    padding:50px 5%;
    background-color: #C4BCB9;
}


.blog-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap:50px;
}
.single-blog{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: transform 0.6s;
}
.single-blog:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.single-blog img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.single-blog .blog-details{
    padding:3px 12px;
}
.blog-details h3{
    font-size: 24px;
    font-weight: 600;
    margin:20px;
    font-family: 'Roboto', sans-serif;

}
.blog-details h3:hover{
    color:#DB0C0C;
}

.blog-details p{
    font-size: 18px;
    font-weight: 400;
    margin:20px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    align-items: center;

}

.blog-details p a{
    color:#DB0C0C;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;

}
.blog-details a:hover{
    border-bottom: 2px solid #DB0C0C;
}
.comments-datePublish{
    display: flex;
    justify-content: space-between;
    margin:20px;
}

.fa-solid{
    color:#DB0C0C;
    margin-right: 8px;
}

/* ================Contact================= */

#contact{
    padding:50px 5%;
    background: #C4BCB9;
}

.contact-details p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Inknut Antiqua', sans-serif;
    text-align: justify;
    align-items: center;


}
form input,form textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border:1px solid #DB0C0C;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.send-message-btn{
    color: #fff;
    background-color: #DB0C0C;
    padding: 3px 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    border-radius: 30px;
    border:none;
    font-weight: bolder;
    transition: transform 0.6s;
}

.send-message-btn:hover{
    background: #fff;
    transform: scale(1.03);
    color:#DB0C0C;
}


/* =======================Footer========================= */

#footer{
    padding-top:50px;
    padding-bottom: 20px;
    background: #333;
    color:white;
    font-family: 'Inknut Antiqua', sans-serif;
    
}
.footer-container{
    font-family: 'Inknut Antiqa', sans-serif;
    display:flex;
    justify-content: space-between;

}
.who-I-am{
    font-family: 'Inknut Antiqa', sans-serif;
    flex-basis:35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
}
.who-I-am h3{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;


}
.who-I-am p{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: justify;
    align-items: center;


}

.quick-links{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quick-links h3{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

}
.quick-links a{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 12px;
}
.bottom-quick-links li{
    margin:0;
    display: block;
}
.subscribe-myProjects{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.subscribe-myProjects h3{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

}

.subscribe-myProjects input{
    width: 90%;
    padding:12px 10px;
    border:1px solid #DB0C0C;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-top:12px;
}

.subscribe-button{
    width: 90%;
    color: #fff;
    background-color: #DB0C0C;
    padding: 3px 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    border-radius: 30px;
    border:none;
    font-weight: bolder;
    margin-bottom: 20px;
    transition: transform 0.6s;
}

.subscribe-button:hover{
    background: #fff;
    transform: scale(1.03);
    color:#DB0C0C;
}
.fa-brands{
    color:#F24E1E;
    margin-bottom: 20px;
}
.my-google-map,.my-phone,.my-email{
    text-align: center;
    font-size: 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    cursor: pointer;
    margin-top:20px;
}
.my-google-map img{
    width: 24px;
    height: 16px;
    cursor: pointer;
}
.social-icons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.social-icons i{
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.6s;
}
.social-icons i:hover{
    transform: scale(1.03);
    cursor: pointer;
    transform: translateY(-4px);
}

.copy-right{
    text-align: center;
    font-size: 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    margin-top: 20px;
    color:#DB0C0C;
}



/* ============Login===================== */

/* ================login.css======================== */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #C4BCB9;
}
.login-container{
    /* width: 100%; */
    margin: 20px auto;
    height: auto;
    width: 580px;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #db0c0c;
}
.login-container h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #db0c0c;
    text-align: center;
}

.input-field{
    margin-bottom: 30px;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dedede;
    border-radius: 10px;
    padding:0 5px;
    margin-bottom: 50px;

}


input:focus::placeholder {
    color: #db0c0c;  
    transform: translateY(-10px);  
  }


.input-field .fa-solid{
    color:#fe4e1e;
    background-color: #dedede;

}

form input{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    background: #dedede;
    border-radius: 10px;
}
/* #0ec5ed; */
.forgot-password-link{
    color:#0c9cbc;
    text-align: right;
    display: block;
    margin-bottom: 10px;
    margin-top:1px;
    padding:0;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.5s;
}
.forgot-password-link:hover{
    transform: scale(1.1);
}

.login-button{
    width: 30%;
    padding: 1px 10px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    background: #db0c0c;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  
}

.login-button:hover{
    background: #fff;
    color:#db0c0c;
    border: 2px solid #db0c0c;
}

.or{
    text-align: center;
    margin: 2px 0;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.or hr{
    width: 60%;
    height: 6px;
    margin: 0 10px;
    border: 1px solid #333;
    background: #000;
    margin-top:20px;
}

.another-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.another-options p{
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
}

.another-options .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.social-media-icon{
  margin:0 12px;
}
.social-media-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s;
}
.social-media-icon img:hover{
  transform:translateY(-5px);
}


.no-account{
    text-align: left;
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    font-weight: bold;
}
.no-account a{
    color: #0c9cbc;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    margin-left:5px;
}



/* ==========================Responsiveness=========================================== */

@media (max-width: 768px){
    .login-container{
        width: 90%;
    }
    .login-container h1{
        font-size: 25px;
    }
    .input-field{
        margin-bottom: 20px;
    }
    .input-field .fa-solid{
        font-size: 20px;
    }
    form input{
        font-size: 16px;
    }
    .login-button{
        font-size: 16px;
    }
    .forgot-password-link{
        font-size: 16px;
    }
    .or{
        font-size: 18px;
    }
    .another-options p{
        font-size: 16px;
    }
    .social-media-icon img{
        width: 35px;
        height: 35px;
    }
    .no-account{
        font-size: 16px;
    }
    .no-account a{
        font-size: 16px;
    }
}
/* -=====================Responsiveness============= */

nav .fa-regular, nav .fa-solid{
    display: none;
}
nav .fa-solid{
    color:white;
    cursor: pointer;
}
@media(max-width: 690px){

    nav .fa-regular, nav .fa-solid{
        display: block;
        font-size: 24px;
    }

    .container-overlay nav ul{
        background: #333;
        position: fixed;
        top:0;
       /*  right: 0; */ /* we will need to make it -220px to hide it and show it by clicking */
       right: -220px;
        width: 220px;
        height: 100vh;
        padding-top: 50px;
        z-index: 20;
        transition: right 0.8s;
    }
    .container-overlay nav ul button{
        margin-left: 20px;
    }

   .container-overlay nav ul li{
        margin:24px;
        display: block;
    }
    .container-overlay nav ul .fa-regular{
        position: absolute;
        top:30px;
        left:25px;
        cursor: pointer;
    }

    .container-overlay{
        padding:20px 5%;
        height: auto;
    }

   
    nav ul li{
        margin:10px 10px;
    }
  
    .home-details .my-name{
        margin:20px auto;
    }
    .my-name span{
        font-size: 24px;
        font-weight: 500;
        white-space: nowrap;
    }
    .home-details{
        font-size: 18px;
        margin-top:40px;
    }
    .home-details .intro-career{
        margin-bottom: 40px;
    }
    .intro-career span{
        white-space: nowrap;
    }
    .more-on-me-link,.hire-me-btn,.more-skills-link,.see-more-portifo{
        padding: 3px 10px;
    }
    .more-on-me-link span{
        font-size: 18px;
    }
    #about-me,#my-skills,#my-portifolio,#my-blogs,#contact{
        padding:30px 5%;
    }

    .container-about-me h1, .container-my-skills h1,.container-portifo h1, .blogs-container h1,.contact-container h1{
        font-size: 18px;
        margin:30px 0;;
    }

    .container-about-me h1 hr, .container-my-skills h1 hr,.container-portifo h1 hr, .blogs-container h1 hr,.contact-container h1 hr{
        width: 30px;
        height: 6px;
    }

    .container-about-me h1 span,.container-my-skills h1 span,.container-portifo h1 span, .blogs-container h1 span,.contact-container h1 span{    
        font-size: 20px;
    }
    .container-about-me .row{
        flex-direction: column;
    }

    .col-left img{
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .col-right p{
        font-size: 18px;
    }
    .row .col-left{
        flex-basis: 90%;
    }
    .row .col-right{
        flex-basis: 90%;
    }
    .hire-getCV{
        flex-direction: column;
    }
    .hire-getCV button{
        margin-bottom: 20px;
    }
    .get-cv-btn{
        margin-bottom: 20px;
    }
    .container-my-skills{
        width:90%;
        margin: 0 auto;
    }
    .progress-bar{
        width: 100%;
        border: 2px solid #0473b3;
    }
    .single-skill p{
        font-size: 16px;
    }


/* ------------------- */

    .portifo-list{
        grid-template-columns: 1fr;
        margin: 0 30px;
    }
    .single-portifo img{
        height: 350px;
    }
    .portifo-links ul{
        margin-bottom: 20px;
    }
    .layer h3{
        font-size: 20px;
    }
    .layer p{
        font-size: 16px;
    }
    .share-next button{
        margin: 40px 100px;
    }


/* ====================================== */

    .blog-list{
        grid-template-columns: 1fr;
    }
    .single-blog .blog-details{
        padding:3px 10px;
    }
    .single-blog{
        margin: 0 30px;
    }

    .single-blog img{
        height: 350px;
    }
    .blog-details h3{
        font-size: 20px;
    }
    .blog-details p{
        font-size: 16px;
    }
    .comments-datePublish{
        margin:10px;
    }
    .contact-details p{
        font-size: 16px;
    }
    form input,form textarea{
        width: 100%;
    }

    /* ===============footer========== */
    .footer-container{
        flex-direction: column;
        width:90%;
        padding-left:20px;
    }
    .who-I-am,.quick-links,.subscribe-myProjects{
        flex-basis: 100%;
    }
    .subscribe-myProjects input{
        width: 100%;
    }
    .subscribe-button{
        width:30%;
    }
    .social-icons{
        margin-bottom: 20px;
    }
    .social-icons i{
        font-size: 24px;
    }
    .copy-right{
        margin-top: 10px;
    }
}



@media(max-width: 500px){


    nav .fa-regular, nav .fa-solid{
        display: block;
        font-size: 24px;
    }

    .container-overlay nav ul{
        background: #333;
        position: fixed;
        top:0;
       /*  right: 0; */ /* we will need to make it -220px to hide it and show it by clicking */
       right: -220px;
        width: 220px;
        height: 100vh;
        padding-top: 50px;
        z-index: 20;
        transition: right 0.8s;
    }
    .container-overlay nav ul button{
        margin-left: 20px;
    }

   .container-overlay nav ul li{
        margin:24px;
        display: block;
    }
    .container-overlay nav ul .fa-regular{
        position: absolute;
        top:30px;
        left:25px;
        cursor: pointer;
    }



    .container-overlay{
        padding:20px 5%;
        height: auto;
    }

   
    nav ul li{
        margin:10px 10px;
    }
  
    .home-details .my-name{
        margin:20px auto;
    }
    .my-name span{
        font-size: 24px;
        font-weight: 500;
    }
    .home-details{
        font-size: 18px;
        margin-top:40px;
    }
    .home-details .intro-career{
        margin-bottom: 40px;
    }
    .more-on-me-link,.hire-me-btn,.more-skills-link,.see-more-portifo{
        padding: 3px 10px;
    }
    .more-on-me-link span{
        font-size: 18px;
    }
    #about-me,#my-skills,#my-portifolio,#my-blogs,#contact{
        padding:30px 5%;
    }

    .container-about-me h1, .container-my-skills h1,.container-portifo h1, .blogs-container h1,.contact-container h1{
        font-size: 18px;
        margin:30px 0;;
    }

    .container-about-me h1 hr, .container-my-skills h1 hr,.container-portifo h1 hr, .blogs-container h1 hr,.contact-container h1 hr{
        width: 30px;
        height: 6px;
    }

    .container-about-me h1 span,.container-my-skills h1 span,.container-portifo h1 span, .blogs-container h1 span,.contact-container h1 span{    
        font-size: 20px;
    }
    .container-about-me .row{
        flex-direction: column;
    }

    .col-left img{
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .col-right p{
        font-size: 18px;
    }
    .row .col-left{
        flex-basis: 90%;
    }
    .row .col-right{
        flex-basis: 90%;
    }
    .hire-getCV{
        flex-direction: column;
    }
    .hire-getCV button{
        margin-bottom: 20px;
    }
    .get-cv-btn{
        margin-bottom: 20px;
    }
    .container-my-skills{
        width:90%;
        margin: 0 auto;
    }
}

